<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css" integrity="sha384-1Q9q3J6t9l7f7h39xqJ2bC2Tq7RrZ9S4tQl5iT2Vf7E1oHhL97G83J7wNxJ1Fp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js" integrity="sha384-1Q9q3J6t9l7f7h39xqJ2bC2Tq7RrZ9S4tQl5iT2Vf7E1oHhL97G83J7wNxJ1Fp" crossorigin="anonymous"></script>
<div id="gitalk-container" style="margin-top:3em;"></div>
<script>
var gitalk = new Gitalk({
  clientID: "{{ site.gitalk.clientID }}",
  clientSecret: "{{ site.gitalk.clientSecret }}",
  repo: "{{ site.gitalk.repo }}",
  owner: "{{ site.gitalk.owner }}",
  admin: {{ site.gitalk.admin | jsonify }},
  id: "{{ page.url | truncate: 50 | replace: '/', '' | replace: '.', '' }}",
  distractionFreeMode: {{ site.gitalk.distractionFreeMode }}
});
gitalk.render('gitalk-container');
</script>