{% capture tocWorkspace %}
{% assign myMin = include.h_min | default: 1 %}
{% assign myMax = include.h_max | default: 3 %}
{% assign myHtml = include.html %}

{% assign paragraphs = myHtml | split: '<h' %}
{% for p in paragraphs offset:1 %}
  {% assign hLevel = p | slice: 0 | plus: 0 %}
  {% if hLevel >= myMin and hLevel <= myMax %}
    {% assign idStart = p | split: 'id="' %}
    {% if idStart.size > 1 %}
      {% assign id = idStart[1] | split: '"' | first %}
    {% else %}
      {% assign titleRaw = p | split: '>' | slice: 1 | join: '>' | split: '<' | first %}
      {% assign id = titleRaw | slugify %}
    {% endif %}
    {% assign title = p | split: '>' | slice: 1 | join: '>' | split: '<' | first %}
    <a href="#{{ id }}" class="toc-item-{{ hLevel }}">{{ title }}</a>
  {% endif %}
{% endfor %}
{% endcapture %}{% assign tocWorkspace = '' %}